body{
    background-image: url(geometric-abstract-background-with-simple-hexagonal-elements_302149-251.avif);
    /* background-repeat: no-repeat; */
    background-size: contain;
}
figure{
    text-align: right;
}